.redes_sociales tr td{
  padding-left: 5px;
}

#logo{
  width:200px; 
  z-index:1; 
  position:absolute;
}

.menu2{
        text-align: center;
      }
      .ico{
        height: 100px;
      }
      .col-xs-4 col-sm-2 img{
        text-align: center;
      }
 body{
    background: url(../../img/fondoko.jpg);
    background-repeat: no-repeat;
    background-size: cover;

  }
  #contenido{
    background: white;
    height: 100% !important;
  }
  article{
    padding: 10px;
    text-align: justify;
  }
  

  .fixed {
    position:fixed;
    top:0px;
}

/*estilo del menu secundario*/

#menu_secundario{
    background: rgb(255,255,255,0);
    opacity: 0;
    margin-top: 40px;
    width: 100%;
}

._menu2{
  padding: 0;
  cursor: pointer;
}
._menu2 div{
    margin: 0;
}

.m1{
  background: rgba(255,255,255,1);
}
.m1 div{
   background: rgba(12,100,55,1);
}
.m2{
  background: rgba(255,255,255,1);
}
.m2 div{
   background: rgba(12,100,55,1);
}
.m3{
  background: rgba(255,255,255,1);
}
.m3 div{
   background: rgba(12,100,55,1);
}
.m4{
  background: rgba(255,255,255,1);
}
.m4 div{
  background: rgba(12,100,55,1);
}
.m5{
  background: rgba(255,255,255,1);
}
.m5 div{
  background: rgba(12,100,55,1);
}
.m6{
  background: rgba(255,255,255,1);
}
.m6 div{
   background: rgba(12,100,55,1);
}


.m1 img,.m2 img,.m3 img,.m4 img,.m5 img,.m6 img{
  margin: auto;
  width: 60%;
  margin-top:10px;
  margin-bottom: 10px;
  transition: all 0.5s ease-in-out;
}
.m1 img:hover,.m2 img:hover,.m3 img:hover,.m4 img:hover,.m5 img:hover,.m6 img:hover{
  transform:  scale(1.1,1.1);
}

.m1 div,.m1 div,.m2 div,.m3 div,.m4 div,.m5 div,.m6 div{
  padding: 5px;
  text-align: center;
  font-weight: bold;
  color:white;
  text-shadow: 2px 2px 5px black;
}

.m1:hover,
.m2:hover,
.m3:hover,
.m4:hover,
.m5:hover,
.m6:hover{
   background: rgba(180,250,188,1);
}

footer{   
   height: 3em;
   z-index: 30;
   width: 100%;
   background: rgba(0,0,0,0.80);
   border-top: 3px solid #DBDBDB;
   color: #A5A5A5;
   margin-top: 1.5em;
   padding: .6em 0;
   text-shadow: 1px 1px 0 rgba(219,219,219, 1);
   position: fixed;bottom: 0px;
}
.girl4{
  height: 130px;
}


/*CSS DEL RECORRIDO GUIADO*/
    .only_menu{
    margin-top: 20px;
    z-index: 10;
  }
  .page{
    background: repeat;
    display: none;
    width: 100%;
    overflow: auto;
    min-height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
  }
  #left{
    top:45%; 
    left: 0;
    z-index: 21;
    position: fixed;
    bottom: 50%;
    padding: 5px;
    cursor: pointer;
  }
  #right{
    top:45%; 
    right: 0;
    z-index: 21;
    position: fixed;
    bottom: 50%;
    padding: 5px;
    cursor: pointer;
  }
